
.fungal{
  font-family: 'FungalGX';
  position: relative;
  top: 200px ;
  text-align: center;
  
}

.sixtyhour{
  font-family: 'sixtyhour';
  position: relative;
  top: 251px;
  text-align: right;
  transition: rotate 0.5s;
}

@keyframes couleur {								
  0%{
    color : yellow; 
  }

  100%{
    color : blue; 
  }
}


h2{
  color:blue;
  font-size:50px;
  font-variation-settings: "grow" 500, "THCK" 200;
}

p{
  color:orangered; 
  font-size: 60px;
  font-variation-settings: "SCAN" 100, "BLED" 100;  
  animation-name: couleur;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  
}


div:hover .sixtyhour {
  rotate: 1 10 1 90deg;
}  
  
